<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Book information</h1>
  <h2>Book #<%= book._id %></h2>
  <h3>The book title is <%= book.title %> </h3>
  <h3>The author is <%= book.author %></h3>
  <h3>This book was published in the year <%= book.yearPublished %></h3>
  <p>Completed reading? : <%= book.completed ? 'Yes' : 'No' %></p>
  <a href="/books">Go Back</a>
</body>
</html>